@import 'tailwindcss';

@theme {
    --color-primary: #1c1c22;
    --color-accent-default: #00ff99;
    --color-accent-hover: #00e187;
}

/*  
 accent: {
          DEFAULT: "#00ff99",
          hover: '#00e187'
        },
*/

body {
    background-color: #000000;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
}
